*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eeeeee;
    font-family: 'Lato', sans-serif;
}

.logo img{
    max-width: 300px;
    margin-left: 20px;
}

.navBar{
    position: sticky;
    font-weight: 400;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px ;
}

.navLinks{
    display: flex;
}

.navLinks li{
    list-style-type: none;
    margin: auto 20px;
}

.navLinks li a{
    text-decoration: none;
    color: black;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

#email{
    width: 300px; 
    height: 30px;
    padding: 6px ;
    margin: 20px;
}

.btn{
    background-color: #f1c40f ;
    border: none;
    padding: 10px 30px ;
    font-weight: 900;
}

#features{
    width: 95%;
    margin: 70px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feature{
    display: flex;
}
.feature i{
    margin:  35px;
    color: #ff8c00;
}
.feature div{
    margin: 35px;
}
#howItWorks{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
#prices{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto;
    max-width: 1000px;

}
.priceItem{
    height: 320px;
    border: 1px solid black;
    margin: 10px;
    padding: 20px 10px;
    max-width:230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.priceItem p{
    text-align: center;
}
.footer{
    background-color: #dddddd ;
    display: flex;
    flex-direction: column;
    align-items: end;

}   

.footer ul{
    background-color: #dddddd;
    display: flex;
    justify-content: right;
    flex-direction: row;
}
.footer ul li{
    margin: auto 15px;
    list-style-type: none
}

.footer ul li a{
    text-decoration: none;
}